* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #291406;
}

.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px 0px;
    width: 100%;
}

.menu .menu_nome_company a {
    color: #bdb2aa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 2rem;
}

.menu .menu_nome_company h2::after {
    content: '';
    border-bottom: 3px solid #bdb2aa;
    display: flex;
    width: 60px;
    margin: 10px 0px;
    animation: Aumentar 3s infinite;
}
@keyframes Aumentar{
    0%,
    100% {
        width: 0;
        border-bottom: 3px solid #fff;
        border-radius: 20px;
    }
    50% {
        width: 90px;
    }
}
.menu .menu_itens nav {
    display: flex;
    gap: 20px;
}
.menu .menu_itens nav a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}
.icone_closed, .icone_menu{
    display: none;
}
.menu .menu_itens nav a:hover {
    color: #42372f;
    transition: 1s;
}

.menu_itens nav .design_class::after {
    content: '';
    display: flex;
    border-bottom: 3px solid #665c55;
    margin: 10px auto;
    width: 40px;
    transition: 4s;
}

.menu_itens nav .design_class::after {
    content: '';
    display: flex;
    border-bottom: 3px solid #665c55;
    margin: 10px auto;
    width: 40px;
}
.menu_background{
    background-color: transparent;
    backdrop-filter: blur(2rem);
    height: 2rem;
}

.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10rem 1rem;
}

.image__images {
    background-color: #4d260c;
    max-width: 100%;
    min-width: 10rem;
    height: 580px;
}

.image__images .imagem img {
    max-width: 100%;
    min-width: 2.5rem;
    width: 400px;
}

.image__images .icones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.image__images .icones img {
    width: 30px;
    cursor: pointer;
    transition: 1s;
}

.image__images .icones img:hover {
    transform: translateY(-8px);
}
.container{
    min-width: 15rem;
}
.container_content h1 {
    display: flex;
    color: #fff;
    font-family: monospace;
    font-size: 5rem;
    animation: movimento 1s infinite;
}

.container_content p {
    color: #8d6042;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    width: 20rem;
    min-width: 2rem;
    max-width: 100%;
    margin: 5px 0px 20px 0px;
}
.botões{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.container > div .add {
    background-color: #bdb2aa;
    padding: 15px 42px;
    border: none;
    color: #272320;
    font-size: 1.2rem;
    transition: 1.5s;
    cursor: pointer;
}

.container>div .buy {
    background-color: #272320;
    padding: 15px 42px;
    border: none;
    color: #968b84;
    font-size: 1.2rem;
    box-shadow: 0 0 10px #36322e;
    transition: 1s;
    cursor: pointer;
}

.container>div .add:hover {
    background-color: #837c76;
    transform: translateY(-3px);
}

.container>div .buy:hover {
    background-color: #1d1a18;
    transform: translateY(-3px);
}

.produts {
    margin: 100px 0px;
}

.produts h1 {
    color: #ffd1bf;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 150px 0px;
}

.produts h1::after {
    display: flex;
    content: '';
    border-bottom: 3px solid #ffd1bf;
    margin: auto;
    width: 90px;
}

.produtos_itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.produtos_itens div {
    background: linear-gradient(#411f09, #291406);
    cursor: pointer;
    transition: 1s;
}

.produtos_itens div:hover {
    background: linear-gradient(#42200a, #42200a);
    box-shadow: 0 0 10px #00000057;
    transform: translateY(-8px);
}

.produtos_itens .card {
    background-color: red;
    width: 400px;
    height: 800px;

}

.card:hover {
    background-color: #837c76;
}

.produtos_itens div img {
    width: 8rem;
    min-width: 2rem;
    max-width: 100%;
    margin: 3rem 6rem;
}

.produtos_itens div p {
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0rem 0.4rem 0rem;
    font-weight: 200;
    text-align: center;
}

.produtos_itens div button {
    border: none;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem 5.2rem 1rem;
    display: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: 1s;
}

.produtos_itens div button:hover {
    background-color: #969494;
    transform: translateY(-8px);
}

.produtos_itens div:hover button {
    display: flex;
}

.produtos_itens div .descrition {
    color: #816653;
}

.about__us {
    margin: 30rem 0rem;
}

.story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
    margin: 0rem 0rem 15rem 0px;
}

.about__us > h1 {
    text-align: center;
    margin: 8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #dbc9bc;
}

.about__us>h1::after {
    content: '';
    display: flex;
    margin: 1rem auto;
    border-bottom: 3px solid #dbc9bc;
    width: 5rem;
}

.story .imagem img {
    width: 23rem;
    min-width: 2rem;
}

.story .content p {
    width: 28rem;
    color: #c48c67;
    font-family: Arial, Helvetica, sans-serif;

}

.depoimentos .sugestoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #412512;
    margin: 2rem auto;
    width: 40%;
}

.depoimentos .sugestoes p {
    width: 30rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3rem 0px 1rem;
    max-width: 100%;
    min-width: 2rem;
    padding: 1rem 2rem;
}

.depoimentos .sugestoes p span {
    font-size: 2rem;
    color: #754d32;
    line-height: rem;
}

.depoimentos .sugestoes .persom__content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
}

.depoimentos .sugestoes .persom__content h3 {
    color: #816653;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0;
}

.depoimentos .sugestoes .persom__content img {
    border-radius: 50%;
    width: 2rem;
}
.recursos{
    margin: 10rem 0rem;
}
.recursos  h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5rem 0rem;
    color: #dbc9bc;
    font-size: 2rem;
}
.recursos  h1::after{
    content: '';
    display: flex;
    border-bottom: 3px solid #dbc9bc;
    margin: auto;
    width: 3rem;
}
.recursos .featured{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}
.recursos .featured div{
   background-color: #41210b;
   padding: 1rem 2.5rem;
   box-shadow: 0 0 10px #00000059;
}
.recursos .featured div img{
    display: flex;
    margin: 1rem auto;
    width: 4.5rem;
}
.recursos .featured div p{
    width: 16rem;
    color: #d89a70;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.recursos .featured div button{
    display: flex;
    border: none;
    padding: 1rem 2rem;
    background-color: #d19c75;
    color: #181411;
    cursor: pointer;
    margin: 1rem auto;
    font-weight: 30rem;
    font-size: 1rem;
    transition: 1s;
}
.recursos .featured div button:hover{
    background-color: #775944;
}
.inscrever_se{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #272320;
    padding: 5rem 0rem;
    width: 60rem;
    margin: auto;
    min-width:5rem;
    max-width: 100%;
}
.inscrever_se div p{
    width: 19rem;
    color: #8a7d73;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4rem;
    min-width: 6rem;
    max-width: 100%;
}
.input_subscrever{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #0000006b;
} 
.inscrever_se div input{
    outline: none;
    border: none;
    padding: 1rem 4rem 1rem 2rem;
    font-size: 1rem;
}
.inscrever_se div input::placeholder{
    color: rgba(128, 128, 128, 0.856);
}
.inscrever_se div button{
    border: none;
    padding: 1rem 3rem;
    background-color: #444443;
    cursor: pointer;
}
.inscrever_se div button a{
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
footer .info{
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
    height: 20rem;
    padding: 10rem 0rem 35rem 0rem;
}
footer .info div h2{
    color: #585551;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    font-weight: 400;
    margin: 1rem 0rem;
    text-align: start;
}
footer .info div p{
    color: #afa69f;
    font: 400 1.1rem Arial, Helvetica, sans-serif ;
    margin: 0.5rem 0px;
    text-align: start;
}
footer p{
    text-align: center;
    color: #afafaf;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0rem 0rem 2rem 0rem;
}
@media (max-width: 800px) {
    .body{
        position: relative;
    }
    .menu_nome_company, .icone_menu{
        display: flex;
        align-items: center;
        padding: .5rem 0rem;
        cursor: pointer;
    }
    .icone_closed{
        display: flex;
        width: 3.5rem;
        cursor: pointer;
        margin: 0rem;
    }
    .menu .menu_itens nav{
        display: none;
    }
    .menu .menu_itens .New_Nav_Bar{
       position: absolute;
       left: 0;
       top: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 6rem;
       padding: 3rem 0px 0px 0px;
       background-color: transparent;
       backdrop-filter: blur(40px);
       height: 100vh;
       width: 100%;
    }
    .menu .menu_itens .New_Nav_Bar a{
        color: #67acfa;
    }
}